html,
body,
#root,
.App {
  height: 100%;
  padding: 0;
  margin: 0;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.header-cont {
  background-color: #0E6D3B;
}

.background-green {
  background-color: #0E6D3B;
}

.background-orange {
  background-color: #EB7335;
}

.bg-grad-to-r {
  background-image: linear-gradient(to right, #0E6D3B, #42b53c, #0E6D3B);
}

.center {
  align-self: center;
  text-align: center;
}

.text-white {
  color: white;
}

.p-4 {
  padding: 2rem;
}

.text-light-gray {
  color: lightgray;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.text-dec-none {
  text-decoration: none;
}

@font-face {
  font-family: "irish";
  src: url('../../assets/font/irish_penny/IrishPenny.ttf');
}

.font-irish {
  font-family: "irish";
}

.font-mono {
  font-family: monospace;
}

.font-xl {
  font-size: x-large;
}

.tracking-wide {
  letter-spacing: .2em;
}

.box-shadow {
  box-shadow: .2em .2em .2rem lightgrey;
}

.text-shadow {
  text-shadow: .1rem .1rem .2rem lightgray;
}

.text-bold {
  font-weight: bold;
}

.border {
  border: .1rem solid gray;
}

.m-1 {
  margin: 1em;
}

.mt-1 {
  margin-top: 1em;
}

.mx-2 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.rounded {
  border-radius: 3rem;
}

.rounded-light {
  border-radius: 1rem;
}

.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.px-2 {
  padding-left: .4rem;
  padding-right: .4rem;
}

.my-1 {
  margin-top: .2rem;
  margin-bottom: .2rem;
}

.hover:hover {
  font-weight: bolder;
  text-shadow: .1rem .1rem .2rem slategrey;
  padding-bottom: .3rem;

}

.rounded-top {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.flex-base {
  align-self: baseline;
}

.max-height {
  max-height: 4rem;
}

.max-fit {
  max-width: fit-content;
  max-height: fit-content;
}
