.header-cont {
  background-color: #0E6D3B;
}

.background-green {
  background-color: #0E6D3B;
}

.background-orange {
  background-color: #EB7335;
}

.center {
  align-self: center;
  text-align: center;
}

.height-full {
  height: 100vh;
}

.text-white {
  color: white;
}

.p-4 {
  padding: 2rem;
}

.text-light-gray {
  color: lightgray;
}

.flex {
  display: flex;
  flex-direction: column;
}


.flex-1 {
  flex: 1;
}


.flex-2 {
  flex: 2;
}


.text-dec-none {
  text-decoration: none;
}
